@model TipoPersonaModel
@{
    ViewData["Title"] = "Información Tipo Persona";
}
<h1>Tipo Persona</h1>
<h2>Id:@Model.Id </h2>
<address>
    <p><strong>Descripcion: @Model.Descripcion </strong></p>
    <p><strong>Fecha Creación: @Model.FechaCreacion </strong></p>
    <p><strong>Persona Id: @Model.Persona </strong></p>
</address>


